<div class="main_container">
    <div id="services_new_edit">
        <div class="main_data">
            <div id="services_h2_div">
                <% if !@service.id %>
                    <h2>Create New Service</h2>
                <% else %>
                    <h2>Edit Service</h2>
                <% end %>
            </div>

            <div>
                <% if @service.errors.any? %>
                    <div id="error_explanation">
                        <ul id="services_form_ul">
                            <% @service.errors.full_messages.each do |message| %>
                                <li id="services_error_li"><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <%= form_for(@service) do |f| %>
                    <p>
                        <%= f.text_field :name, class: "services_inputs element_border_radius", placeholder: "enter service name" %>
                    </p>

                    <p id="services_new_edit_btn_p">
                        <%= f.submit id: "services_form_btn" %>
                    </p>
                <% end %>
            </div>
        </div>

        <nav class="bottom_navs">
            <span class="bottom_navs_span"><%= user_workspace %></span>
            <span class="bottom_navs_span"><%= vehicle_services %></span>
        <nav>
    </div>
</div>