<div class="main-container">
    <div class="main-data">
        <div>
            <% if !@service.id %>
                <h2>Create New Service</h2> 
            <% else %>
                <h2>Edit Service</h2>
            <% end %>
        </div>

        <% if @service.errors.any? %>
            <div id="error_explanation">
                <ul>
                    <% @service.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        
        <%= form_for(@service) do |f| %>
            <%= f.text_field :name, size: 30 %>
            <%= f.submit %>
        <% end %>
    </div>

    <div class="bottom-navs">
        <span class="navs_span"><%= user_workspace %></span>
        <span class="navs_span"><%= vehicle_services %></span>
    <div>
</div>