<div class="main-container">
    <div class="main-data">
        <div id="service_h2_div">
            <% if !@service.id %>
                <h2>Create New Service</h2> 
            <% else %>
                <h2>Edit Service</h2>
            <% end %>
        </div>

        <div id="service_form_div">
            <% if @service.errors.any? %>
                <div id="error_explanation">
                    <ul id="service_form_ul">
                        <% @service.errors.full_messages.each do |message| %>
                            <li id="service_error_li"><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= form_for(@service) do |f| %>
                <%= f.text_field :name, class: "service_inputs element_border_radius", placeholder: "enter service name" %>
                <%= f.submit id: "services_form_btn" %>
            <% end %>
        </div>
    </div>

    <div class="bottom-navs">
        <span class="navs_span"><%= user_workspace %></span>
        <span class="navs_span"><%= vehicle_services %></span>
    <div>
</div>