<div class="main-container">
    <div>
        <% if !@service.id %>
            <h2>Create New Service</h2> 
        <% else %>
            <h2>Edit Service</h2>
        <% end %>
    </div>

    <div class="main-data">
        <%= form_for(@service) do |f| %>
            <%= f.text_field :name, size: 30 %>
            <%= f.submit %>
        <% end %>
    </div>

    <div class="bottom-navs">
        <span style="margin-right: 5px"><%= user_workspace %></span>
        <span style="margin-right: 5px"><%= vehicle_services %></span>
    <div>
</div>