<h2>Vehicle Services</h2>

<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
        </tr>
    </thead>
    <% @services.each.with_index(1) do |service, index| %>
        <tbody>
            <tr>
                <td><%= index %></td>
                <td><%= service.name %></td>
                <% if current_user.admin %>
                    <td><%= link_to 'Edit', edit_service_path(service) %></td>
                    <td style="text-align: left"><%= link_to "Delete", service, method: :delete, data: { confirm: delete_confirmation_msg } %></td>
                <% end %>
            </tr>
        </tbody>
    <% end %>
</table>

<div>
    <span style="margin-right: 5px"><%= link_to 'My Workspace', user_workspace_path %></span>
    <span style="margin-right: 5px"><%= link_to 'New Service', new_service_path %></span>
</div>