<div id="signin_div">
    <div id="signin_form_div">
        <%= form_tag signin_path do %>
            <%= text_field_tag :email, nil, class: "signin_inputs element_border_radius", placeholder: "email" %>

            <%= password_field_tag :password, nil, class: "signin_inputs element_border_radius", placeholder: "password" %>

            <% if flash[:notice] %>
                <span id="signin_span_errors" class="element_border_radius">
                    <%= notice %>
                </span>
            <% end %>

            <p id="signin_btn_p">
                <%= submit_tag("Sign In", id: "signin_btn", class: "element_border_radius") %>
            </p>
        <% end %>
                
        <p>
            <%= link_to 'Sign Up', signup_path, id: "signup_link", class: "element_border_radius" %>
        </p>
        
        <p id="facebook_p">
            <a href="/auth/facebook"><img src="/assets/facebook_login.jpeg" alt="Continue with Facebook" id="facebook_img"></a>
        </p>
    </div>
</div>