<div>
    <%= form_tag signin_path do %>
        <%= label_tag 'eMail: ' %>
        <%= text_field_tag :email %>

        <%= label_tag 'Password: ' %>
        <%= password_field_tag :password %>

        <%= submit_tag 'Sign In'%>

        <%= button_to 'Create Account', signup_path %>
    <% end %>

    <p><a href="/auth/facebook"><img src="/assets/fb_logo.png"></a>
</div>