<% if @user.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for(@user, url: signup_url(@user)) do |f| %>
    <%= f.text_field :first_name, placeholder: "first name", style: "height: 20px", size: 18 %>
    <%= f.text_field :last_name, placeholder: "last name", style: "height: 20px", size: 24 %>
    <%= f.text_field :email, placeholder: "email", style: "height: 20px", size: 24 %>
    <%= f.password_field :password, placeholder: "password", style: "height: 20px", size: 12, disabled: (true if logged_in? && !current_user.uid) && (current_user.first_name.blank? || current_user.last_name.blank?) %>

    <%= f.submit class: "button" %>
<% end %>
