<% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@user, url: signup_url(@user)) do |f| %>
    <%= f.text_field :first_name, placeholder: "first name", size: 18 %>
    <%= f.text_field :last_name, placeholder: "last name", size: 24 %>
    <%= f.text_field :position, placeholder: "position", size: 22 %>
    <%= f.text_field :email, placeholder: "email", size: 24 %>
    <%= f.password_field :password, placeholder: "password", size: 12 %>

    <%= f.submit %>
<% end %>
