<div class="main-container">

    <h2>Edit User - Admin</h2>

    <div class="main-data">
        <%= form_for(@user) do |f| %>
        
            <% if @user != current_user %>
                <%= f.text_field :full_name, size: 30, :style => "background: #f0f0f5", :readonly => true %>
                <%= f.text_field :email, size: 25, :style => "background: #f0f0f5", :readonly => true %>
            <% else %>
                <%= f.text_field :full_name, size: 30, :style => "background: #f0f0f5", :readonly => true %>
                <%= f.text_field :email, size: 25 %>
            <% end %>

            <%= f.text_field :position, size: 25, placeholder: "position" %>
            <% if @user != current_user %>
                <%= f.select :status, user_status %>
                <%= f.check_box :admin %>
                <%= f.label 'Admin' %>
            <% end %>

            <%= f.submit %>
        <% end %>
    </div>

    <div class="bottom-navs">
        <span style="margin-right: 5px"><%= user_workspace %></span>
        <span style="margin-right: 5px"><%= is_admin?(current_user) %></span>
    </div>
</div>