<h2>System Users</h2>

<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th style="text-align: left">Name</th>
            <th style="text-align: left">Email</th>
            <th style="text-align: left">Position</th>
            <th style="text-align: left">Status</th>
            <th style="text-align: left">Admin</th>
           
        </tr
    </thead>
    <% @users.each.with_index(1) do |user, index| %>
        <tbody>
            <tr>
                <td style="text-align: left"><%= index%></td>
                <td style="text-align: left"><%= link_to user.full_name, user_path(user), :title => 'User Profile' %></td>
                <td style="text-align: left"><%= user.email %></td>
                <td style="text-align: left"><%= user.position %></td>
                <td style="text-align: left"><%= user.status %></td>
                <td style="text-align: left"><%= user.admin? %></td>
                <td style="text-align: left"><%= link_to 'Edit', admin_edit_path(user) %></td>
                <% if user != current_user %>
                <td style="text-align: left"><%= link_to "Delete", user, method: :delete, data: { confirm: delete_confirmation_msg } %></td>
                <% end %>
            </tr
        </tbody>
    <% end %>
</table>

<p><%= link_to 'My Workspace', user_workspace_path %></p>