<div class="main-container">
    <div class="main-data">
        <h2>System Users</h2>

        <% if flash[:notice] %>
            <div class="flash_notice_span">
                <%= notice %>
            </div>
        <% end %>

        <table>
            <thead>
                <tr>
                    <th>&nbsp</th>
                    <th class="users_idx_left_align">Name</th>
                    <th class="users_idx_left_align">Email</th>
                    <th class="users_idx_left_align">System Role</th>
                    <th class="users_idx_left_align">Status</th>
                    <th class="users_idx_center_align">Admin</th>
                </tr>
            </thead>
            
            <% @users.each.with_index(1) do |user, index| %>
                <tbody>
                    <tr>
                        <td class="users_idx_left_align"><%= index%></td>
                        <td class="users_idx_left_align"><%= link_to last_name_first_name(user), user_path(user), :title => 'User Profile' %></td>
                        <td class="users_idx_left_align"><%= user.email %></td>
                        <td class="users_idx_left_align"><%= user.sys_role %></td>
                        <td id="users_idx_td_status" class="users_idx_left_align"><%= user.status.capitalize %></td>
                        <td class="users_idx_center_align users_idx_td"><%= user.admin? %></td>
                        <td class="users_idx_center_align users_idx_td"><%= link_to 'Edit', admin_edit_path(user) %></td>
                        <% if user != current_user %>
                        <td class="users_idx_center_align users_idx_td"><%= link_to "Delete", user, method: :delete, data: { confirm: delete_confirmation_msg } %></td>
                        <% end %>
                    </tr>
                </tbody>
            <% end %>
        </table>
    </div>

    <div class="bottom-navs">
        <span class="navs_span"><%= user_workspace %></span>
        <span class="navs_span"><%= link_to 'My Profile', user_path(current_user) %></span>
    <div>
</div>