<div class="main-container">
    <div class="main-data">
        <% if current_user == @user %>
            <h2>User - <%= link_to full_name(@user), edit_user_path, :title => 'Edit User Profile' %></h2>
        <% else %>
            <h2>User - <%= link_to full_name(@user), admin_edit_path, :title => 'Edit User Profile' %></h2>
        <% end %>
        <p><label>Email: </label><%= @user.email %></p>
        <p><label>Position: </label><%= @user.position %></p>
        <p><label>System Role: </label><%= @user.sys_role %></p>
        <p><label>Account Status: </label><%= @user.status %></p>
        <p><label>Account created on: </label><%= readable_created_at(@user) %></p>
    </div>

    <div>
        <span style="margin-right: 5px"><%= user_workspace %></span>
        <span style="margin-right: 5px"><%= edit?(@user) %></span>
        <span style="margin-right: 5px"><%= is_admin?(current_user) %></span>
        
    </div>
</div>