<label>Name: </label><%= @user.full_name %><br>
<label>Position: </label><%= @user.position %><br>
<label>System Role: </label><%= @user.sys_role %><br>
<label>Email: </label><%= @user.email %>

<p><%= link_to 'My Workspace', user_workspace_path %></p>

