<div class="main-container">
    <div style="margin: 25px 0px 50px 0px">
        <img src="<%= user_image %>">
        <h1 style="color: blue; display: inline; padding-left: 5px"><%= user_first_name %> Workspace</h1>
    </div>
    
    <% if flash[:notice] %>
        <div style="margin-bottom: 20px">
            <%= notice %>
        </div>
    <% end %>

    <% if !@user.first_name || !@user.last_name %>
        <div>
            <p>You are required to provide your <strong><%= link_to 'profile data and password',  edit_user_path(@user) %></strong> to continue.</p>
        </div>
    <% end %>

    <% if @user.first_name || @user.last_name %>
        <div style="margin-bottom: 25px">
            <%= link_to 'My Profile', user_path(@user) %><br>
            <%= is_admin?(@user) %>
        </div>

        <div style="margin-bottom: 25px">
            <%= link_to 'New Customer', new_customer_path %><br>
            <%= service_customers %><br>
            <%= link_to 'Customers with Service Insurance', service_insurance_path %>
        </div>

        <div style="margin-bottom: 25px">
            <% if current_user.admin %>
                <%= link_to 'New Vehicle Service', new_service_path %><br>
            <% end %>
            <%= vehicle_services %>
        </div>

        <div style="margin-bottom: 25px">
            <%= service_appointments %>
        </div>
        
        <div style="margin-bottom: 30px">
            <% if current_user.admin %>
                <%= link_to 'Dealer Information', edit_dealer_path(dealer), :title => 'Edit Dealer Info' %>
            <% end %>
        </div>
    <% end %>

</div>


