<div class="main-container">
    <div id="my_workspace">
        <h1 id="workspace_h1">My Workspace</h1>
    
        <% if flash[:notice] %>
            <div id="workspace_msg_div">
                <span id="workspace_notice_span"><%= notice %></span>
            </div>
        <% end %>

        <div id="workspace_nav_div">
            <% if !@user.first_name.blank? && !@user.last_name.blank? %>
                <nav class="workspace_navs">
                    <%= link_to 'Profile', user_path(@user) %><br>
                    <%= system_users_if_admin?(@user) %>
                </nav>

                <nav class="workspace_navs">
                    <%= link_to 'New Customer', new_customer_path %><br>
                    <%= service_customers %><br>
                    <%= link_to 'Customers with Service Insurance', service_insurance_path %>
                </nav>

                <nav class="workspace_navs">
                    <% if current_user.admin %>
                        <%= link_to 'New Vehicle Service', new_service_path %><br>
                    <% end %>
                    <%= vehicle_services %>
                </nav>

                <nav class="workspace_navs">
                    <%= service_appointments %>
                </nav>

                <nav>
                    <% if current_user.admin && current_user.sys_role == "Super User" %>
                        <%= link_to 'Dealer Information', edit_dealer_path(dealer), :title => 'Edit Dealer Info' %>
                    <% end %>
                </nav>
            <% end %>
        </div>
    </div>
</div>


