<div class="main-container">
    <div style="margin: 25px 0px 50px 0px; padding-left: 25px; padding-top: 25px">
        <img src="<%= user_image %>">
        <h1 style="color: blue; display: inline; padding-left: 5px"><%= user_first_name %> Workspace</h1>
    </div>
    
    <% if flash[:notice] %>
        <div style="margin-bottom: 25px; padding-left: 50px">
            <span style="background-color: #e6ffe6; padding: 0px 15px 0 15px"><%= notice %></span>
        </div>
    <% end %>

    <% if @user.first_name.blank? || @user.last_name.blank? %>
        <div style="padding-bottom: 50px; padding-left: 50px">
        <% if @user.uid %>
            <p>You are required to update your <strong><%= link_to 'profile data and password',  edit_user_path(@user) %></strong> associated with email <span style="color: blue"><%= @user.email %></span> to activate your user account</p>
        <% else %>
            <p>You are required to update your <strong><%= link_to 'profile data',  edit_user_path(@user) %></strong> associated with email <span style="color: blue"><%= @user.email %></span> to activate your user account</p>
        <% end %>
        </div>
    <% end %>

    <div style="padding-bottom: 50px; padding-left: 50px">
    <% if !@user.first_name.blank? && !@user.last_name.blank? %>
        <div style="margin-bottom: 25px">
            <%= link_to 'My Profile', user_path(@user) %><br>
            <%= is_admin?(@user) %>
        </div>

        <div style="margin-bottom: 25px">
            <%= link_to 'New Customer', new_customer_path %><br>
            <%= service_customers %><br>
            <%= link_to 'Customers with Service Insurance', service_insurance_path %>
        </div>

        <div style="margin-bottom: 25px">
            <% if current_user.admin %>
                <%= link_to 'New Vehicle Service', new_service_path %><br>
            <% end %>
            <%= vehicle_services %>
        </div>

        <div style="margin-bottom: 25px">
            <%= service_appointments %>
        </div>
        
        <div>
            <% if current_user.admin %>
                <%= link_to 'Dealer Information', edit_dealer_path(dealer), :title => 'Edit Dealer Info' %>
            <% end %>
        </div>
    <% end %>
    </div>

</div>


