
<div style="margin: 30px 60px">
   
    <img src="<%= user_image %>">

    <h1 style="color: blue; display: inline; padding-left: 5px"><%= user_first_name %> Workspace</h1>
</div>

<% if !@user.first_name || !@user.last_name %>
    <div style="margin: 30px 60px">
        <p>You are required to provide your <strong><%= link_to 'first name',  edit_user_path(@user) %></strong>, <strong><%= link_to 'last name',  edit_user_path(@user) %></strong> and <strong><%= link_to 'password', edit_user_path(@user) %></strong> to proceed.</p>
    </div>
<% end %>

<% if @user.first_name || @user.last_name %>
    <div style="margin: 30px 60px">
        <%= link_to 'My Profile', user_path(@user) %><br>
        <p><% if @user.admin%>
            <%= link_to 'System Users', users_path %>
        <% end %></p>

        <%= link_to 'New Customer', new_customer_path %><br>
        <%= link_to 'Valued Service Customers', customers_path %><br>
        <%= link_to 'Customers with Service Insurance', service_insurance_path %>

        <br><br>
        <% if current_user.admin %>
            <%= link_to 'New Vehicle Service', new_service_path %><br>
        <% end %>
        <%= link_to 'Vehicle Services', services_path %>
        
        <br><br>
        <%= link_to 'Vehicle Service Appointments', appointments_path %>

        <br><br>
        <% if current_user.admin %>
            <%= link_to 'Dealer Info', edit_dealer_path(dealer), :title => 'Edit Dealer Info' %>
        <% end %>
    </div>
<% end %>

<div style="margin: 30px 60px">
   
</div>


