<div style="margin: 30px 60px">
    <h2 style="color: blue"><%= @user.first_name %>'s Workspace</h2>

    <%= link_to 'My Profile', user_path(@user) %><br>
    <% if @user.admin%>
        <%= link_to 'System Users', users_path %>
    <% end %>

    <br><br>
    <%= link_to 'New Customer', new_customer_path %><br>
    <%= link_to 'Valued Service Customers', customers_path %>

    <br><br>
    <% if current_user.admin %>
        <%= link_to 'New Vehicle Service', new_service_path %><br>
    <% end %>
    <%= link_to 'Vehicle Services', services_path %><br>


    <p><%= link_to 'Sign Out', '/signout' %></p>
</div>


<img src="<%= @user.image %>">
