<%= form_for(@customer) do |f| %>
    <%= f.text_field :first_name, placeholder: "first name" %>
    <%= f.text_field :last_name, placeholder: "last name" %>
    <%= f.text_field :email, placeholder: "email" %>
    <%= f.text_field :telephone, placeholder: "555-555-5555" %>
    <%= f.label 'Service Insurance' %>
    <%= f.select :service_insurance, select_service_insurance %>

    <%= f.submit %>
<% end %>

<p><%= link_to 'My Workspace', user_workspace_path %></p>