<%= render 'customer' %>

<br>
<p><%= link_to 'My Workspace', user_workspace_path %></p>
<%= link_to 'Service Customers', customers_path %>

<%= link_to 'Create New Appointment', new_customer_appointment_path(@customer) %><br>

<%= link_to "#{@customer.first_name}'s Appointments", customer_appointments_path(@customer) %><br>
