<h2>Customer - <%= link_to @customer.full_name, edit_customer_path(@customer), :title => 'Edit Customer Profile' %></h2>

<%= render 'customer' %>

<br>
<%= link_to 'My Workspace', user_workspace_path %>
<%= link_to 'Service Customers', customers_path %>
<%= link_to 'Edit Customer', edit_customer_path(@customer) %>
<%= link_to 'Create New Appointment', new_customer_appointment_path(@customer) %>
<%= link_to "#{@customer.first_name}'s Appointments", customer_appointments_path(@customer) %><br>
