<div class="main-container">
    <div class="main-data">
        <div>
            <h2>Customer - <%= link_to full_name(@customer), edit_customer_path(@customer), :title => 'Edit Customer Profile' %></h2>
        </div>
        
        <%= render 'customer' %>
    </div>

    <div class="bottom-navs">
        <span style="margin-right: 5px"><%= user_workspace %></span>
        <span style="margin-right: 5px"><%= service_customers %></span>
        <span style="margin-right: 5px"><%= link_to 'Edit Customer', edit_customer_path(@customer) %></span>
        <span style="margin-right: 5px"><%= new_appointment(@customer) %></span>
        <span style="margin-right: 5px"><%= customer_appointments(@customer) %></span>
    </div>
</div>