<div class="main-container">
    <div>
        <h2><%= pluralize_customer(@customers_with_service_insurance) %></h2>
    </div>

    <div class="main-data">
        <table style="width: 50%">
            <thead>
                <tr>
                    <th>&nbsp</th>
                    <th>Name</th>
                    <th style="text-align: center; width: 20px">Appointments</th>
                </tr>
            </thead>
            <tbody>
                <% @customers_with_service_insurance.each.with_index(1) do |customer, index| %>
                    <tr>
                        <td><%= index %></td>
                        <td><%= full_name(customer) %></td>
                        <td style="text-align: center; width: 20px"><%= customer.appointments.count %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="bottom-navs">
        <span style="margin-right: 5px"><%= user_workspace %></span>
        <span style="margin-right: 5px"><%= service_customers %></span>
    </div>
</div>