<div class="main_container">
    <div id="dealers_edit">
        <div class="main_data">
            <h2>Edit Dealer Info</h2>

            <% if @dealer.errors.any? %>
                <div id="error_explanation">
                    <ul id="dealers_edit_ul">
                        <% @dealer.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div id="dealers_edit_form_div">
                <%= form_for(@dealer) do |f| %>
                    <p class="dealers_edit_p">
                        <%= f.text_field :name, :class => "dealers_edit_inputs element_border_radius", placeholder: "dealer name" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :address, :class => "dealers_edit_inputs element_border_radius", placeholder: "address" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :city, :class => "dealers_edit_inputs element_border_radius", placeholder: "city" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :state, :class => "dealers_edit_inputs element_border_radius", placeholder: "state" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :zip, :class => "dealers_edit_inputs element_border_radius", placeholder: "zip code" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :telephone, placeholder: "555-555-5555", :class => "dealers_edit_inputs element_border_radius", placeholder: "telephone" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :vanity_number, :class => "dealers_edit_inputs element_border_radius", placeholder: "vanity number" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :ext_one, :class => "dealers_edit_inputs element_border_radius", placeholder: "customer service extension(s)" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :ext_two, :class => "dealers_edit_inputs element_border_radius", placeholder: "finance department extension(s)" %>
                    </p>
                    <p class="dealers_edit_p">
                        <%= f.text_field :ext_three, :class => "dealers_edit_inputs element_border_radius", placeholder: "service department extension(s)" %>
                    </p>

                    <p class="dealers_edit_p">
                        <%= f.submit :id => "dealers_edit_btn" %>
                    </p>
                <% end %>
            </div>
        </div>

        <nav class="bottom_navs">
            <span class="bottom_navs_span"><%= user_workspace %></span>
            <span class="bottom_navs_span"><%= service_customers %></span>
            <span class="bottom_navs_span"><%= service_appointments %></span>
        </nav>
    </div>
</div>