<div class="main-container">
    <div class="main-data">
        <h2>Edit Dealer Info</h2>

        <% if @dealer.errors.any? %>
            <div id="error_explanation">
                <ul>
                    <% @dealer.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        
        <%= form_for(@dealer) do |f| %>
            <%= f.label :name, :class => "label-width" %>
            <%= f.text_field :name, size: 30 %></p>
            <%= f.label :address, :class => "label-width" %>
            <%= f.text_field :address, size: 30 %></p>
            <p><%= f.label :city, :class => "label-width" %>
            <%= f.text_field :city, size: 30 %></p>
            <p><%= f.label :state, :class => "label-width" %>
            <%= f.text_field :state, size: 30 %></p>
            <p><%= f.label :zip, :class => "label-width" %>
            <%= f.text_field :zip, size: 20 %></p>
            <p><%= f.label :telephone, :class => "label-width" %>
            <%= f.text_field :telephone, placeholder: "555-555-5555", size: 20 %></p>
            <p><%= f.label :vanity_number, 'Vanity Number', :class => "label-width" %>
            <%= f.text_field :vanity_number, size: 20 %></p>
            <p><%= f.label :ext_one, 'Customer Service', :class => "label-width" %>
            <%= f.text_field :ext_one, size: 20 %></p>
            <p><%= f.label :ext_two, 'Finance Department', :class => "label-width" %>
            <%= f.text_field :ext_two, size: 20 %></p>
            <p><%= f.label :ext_three, 'Service Department', :class => "label-width" %>
            <%= f.text_field :ext_three, size: 20 %></p>

            <%= f.submit :style => "margin-left: 145px"%>
        <% end %>
    </div>

    <div class="bottom-navs">
        <span style="margin-right: 5px"><%= user_workspace %></span>
    </div>
</div>