<div class="main-container"> 
    <div class="main-data">
        <div style="margin-bottom: 50px">
            <% if single_customer_appointments?(@appointments) %>
                <h2>Customer - <%= link_to full_name(@appointments.first.customer), customer_path(@appointments.first.customer), :title => 'Customer Profile', class: "h2_link_style" %></h2>

                <%= render 'customers/append_customer_data' %>

            <% else %>
                <h2>Customer Appointments</h2>
            <% end %>
        </div>

        <% if flash[:notice] %>
            <div class="flash_notice_span">
                <%= notice %>
            </div>
        <% end %>
        
        <h3><%= pluralize(@appointments.size, "@appointments".chop.delete_prefix('@').capitalize) %></h3>

        <table>
            <thead>
                <tr>
                    <th>&nbsp</th>
                    <th style="width: 100px">Date</th>
                    <th style="width: 20px">Time</th>
                    <th style="width: 110px">Vehicle Model</th>
                    <th style="width: 15px">Year</th>
                    <th style="width: 120px">Status</th>
                    <th>Service</th>
                    <% if multiple_customer_appointments?(@appointments) %>
                        <th> <%= display_customer_header(@appointments) %></th>
                        <th style="width: 40px"><%= display_service_insurance_header(@appointments) %></th>
                    <% end %>
                <tr>
            </thead>
            
            <% @appointments.each.with_index(1) do |appointment, index| %>
                <tbody>
                    <tr>
                        <td><%= index%></td>
                        <td><%= link_to readable_date(appointment), customer_appointment_path(appointment.customer, appointment), :title => 'Appointment Details' %></td>
                        <td><%= readable_time(appointment) %></td>
                        <td><%= appointment.veh_model %></td>
                        <td><%= appointment.model_year %></td>
                        <td><%= appointment.status %></td>
                        <td><%= appointment.service.name %></td>
                        <% if multiple_customer_appointments?(@appointments) %>
                            <td><%= link_to full_name(appointment.customer), customer_appointments_path(appointment.customer), :title => 'Customer Appointments' %></td>
                            <td style="text-align: center"><%= appointment.customer.has_service_insurance? %></td>
                        <% end %>
                        <td><%= link_to 'Edit', edit_customer_appointment_path(appointment.customer, appointment) %></td>
                        <% if current_user.admin && single_customer_appointments?(@appointments) %>
                            <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: delete_confirmation_msg } %></td>
                        <% end %>
                    </tr>
                </tbody>
            <% end %>
        </table>
    </div>

    <div class="bottom-navs">
        <span class="navs_span"><%= user_workspace %></span>
        <span class="navs_span"><%= service_customers %></span>
        <% if single_customer_appointments?(@appointments) %>
            <span class="navs_span"><%= new_appointment(@appointments.first.customer) %></span>
            <span class="navs_span"><%= service_appointments %></span>
        <% end %>
    </div>
</div>