<h2>Appointments</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Vehicle Model</th>
            <th>Model Year</th>
            <th>Status</th>
            <th>Service</th>
            <th>Customer</th>
        <tr>
    </thead>
    
    <% @appointments.each do |appointment| %>
        <tbody>
            <tr>
                <td><%= appointment.date.strftime("%b %d, %Y") %></td>
                <td><%= appointment.time.strftime("%H:%M") %></td>
                <td><%= appointment.veh_model %></td>
                <td><%= appointment.model_year %></td>
                <td><%= appointment.status %></td>
                <td><%= appointment.service.name %></td>
                <td><%= appointment.customer.full_name %></td>
            </tr>
        </tbody>
     <% end %>
</table>

<p><%= link_to 'My Workspace', user_workspace_path %></p>