<div class="main-container">
    <% if  @appointments.distinct.count(:customer_id) == 1 %>
        <h2>Customer - <%= link_to full_name(@appointments.first.customer), customer_path(@appointments.first.customer), :title => 'Customer Profile' %></h2>
        <p><label>Telephone: </label><%= @appointments.first.customer.telephone %></p>
        <p><label>Service Insurance: </label><%= @appointments.first.customer.has_service_insurance? %></p>
    <% else %>
        <h2>Customer Appointments</h2>
    <% end %>

    <br>
    <div class="main-data">
        <h3><%= pluralize(@appointments.size, "@appointments".chop.delete_prefix('@').capitalize) %></h3>

        <table>
            <thead>
                <tr>
                    <th>&nbsp</th>
                    <th style="width: 90px">Date</th>
                    <th style="width: 25px">Time</th>
                    <th style="width: 115px">Vehicle Model</th>
                    <th style="width: 20px">Year</th>
                    <th>Status</th>
                    <th>Service</th>
                    <% if @appointments.distinct.count(:customer_id) > 1 %>
                        <th> <%= display_customer_header(@appointments) %></th>
                        <th style="width: 40px"><%= display_service_insurance_header(@appointments) %></th>
                    <% end %>
                <tr>
            </thead>
            
            <% @appointments.each.with_index(1) do |appointment, index| %>
                <tbody>
                    <tr>
                        <td><%= index%></td>
                        <td><%= link_to readable_date(appointment), customer_appointment_path(appointment.customer, appointment), :title => 'Customer Appointment' %></td>
                        <td><%= readable_time(appointment) %></td>
                        <td><%= appointment.veh_model %></td>
                        <td><%= appointment.model_year %></td>
                        <td><%= appointment.status %></td>
                        <td><%= appointment.service.name %></td>
                        <% if @appointments.distinct.count(:customer_id) > 1 %>
                            <td><%= link_to full_name(appointment.customer), customer_appointments_path(appointment.customer), :title => 'Customer Appointments' %></td>
                            <td style="text-align: center"><%= appointment.customer.has_service_insurance? %></td>
                        <% end %>
                        <td><%= link_to 'Edit', edit_customer_appointment_path(appointment.customer, appointment) %></td>
                        <% if current_user.admin && @appointments.distinct.count(:customer_id) == 1 %>
                            <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: delete_confirmation_msg } %></td>
                        <% end %>
                    </tr>
                </tbody>
            <% end %>
        </table>
    </div>

    <div>
        <span style="margin-right: 5px"><%= user_workspace %></span>
        <% if @appointments.distinct.count(:customer_id) == 1 %>
            <span style="margin-right: 5px"><%= new_appointment(@appointments.first.customer) %></span>
            <span style="margin-right: 5px"><%= service_appointments %></span>
        <% end %>
    </div>
</div>