<div class="main-container"> 
    <div class="main-data">
        <div id="appt_idx_header">
            <% if single_customer_appointments?(@appointments) %>
                <h2>Customer - <%= link_to full_name(@appointments.first.customer), customer_path(@appointments.first.customer), :title => 'Customer Profile', class: "h2_link_style" %></h2>

                <%= render 'customers/append_customer_data' %>

            <% else %>
                <h2>Customer Appointments</h2>
            <% end %>
        </div>

        <% if flash[:notice] %>
            <div class="flash_notice_span">
                <%= notice %>
            </div>
        <% end %>
        
        <h3><%= pluralize(@appointments.size, "@appointments".chop.delete_prefix('@').capitalize) %></h3>

        <table>
            <thead>
                <tr>
                    <th>&nbsp</th>
                    <th id="appt_idx_th_date">Date</th>
                    <th id="appt_idx_th_time">Time</th>
                    <th id="appt_idx_th_vehicle">Vehicle</th>
                    <th id="appt_idx_th_year">Year</th>
                    <th id="appt_idx_th_status">Status</th>
                    <th id="appt_idx_th_service">Service</th>

                    <% if multiple_customer_appointments?(@appointments) %>
                        <th> <%= display_customer_header(@appointments) %></th>
                        <th id="appt_idx_th_insurance" class="th_td_center_align"><%= display_service_insurance_header(@appointments) %></th>
                    <% end %>
                <tr>
            </thead>
            
            <% @appointments.each.with_index(1) do |appointment, index| %>
                <tbody>
                    <tr>
                        <td id="appt_idx_td_id" class="th_td_center_align"><%= appointment.id %></td>
                        <td><%= link_to readable_date(appointment), customer_appointment_path(appointment.customer, appointment), :title => 'Appointment Details' %></td>
                        <td><%= readable_time(appointment) %></td>
                        <td><%= appointment.veh_model %></td>
                        <td><%= appointment.model_year %></td>

                        <% if appointment.status == "Open" %>
                            <td class="appt_status_open"><%= appointment.status %></td>
                        <% elsif appointment.status == "Service Completed" %>
                            <td class="appt_status_complete"><%= appointment.status %></td>
                        <% elsif appointment.status != "Open" || appointment.status != "Service Completed" %>
                            <td class="appt_status_others"><%= appointment.status %></td>
                        <% end %>

                        <td><%= appointment.service.name %></td>

                        <% if multiple_customer_appointments?(@appointments) %>
                            <td><%= link_to full_name(appointment.customer), customer_appointments_path(appointment.customer), :title => 'Customer Appointments' %></td>
                            <% if appointment.customer.has_service_insurance? == "Yes" %>
                                <td class="th_td_center_align td_color"><%= appointment.customer.has_service_insurance? %></td>
                            <% else %>
                                <td class="th_td_center_align td_no_color"><%= appointment.customer.has_service_insurance? %></td>
                            <% end %>
                        <% end %>

                        <td id="appt_idx_edit_link"><%= link_to 'Edit', edit_customer_appointment_path(appointment.customer, appointment) %></td>

                        <% if current_user.admin && single_customer_appointments?(@appointments) %>
                            <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: delete_confirmation_msg } %></td>
                        <% end %>
                    </tr>
                </tbody>
            <% end %>
        </table>
    </div>

    <div class="bottom-navs">
        <span class="navs_span"><%= user_workspace %></span>
        <span class="navs_span"><%= service_customers %></span>
        <% if single_customer_appointments?(@appointments) %>
            <span class="navs_span"><%= new_appointment(@appointments.first.customer) %></span>
            <span class="navs_span"><%= service_appointments %></span>
        <% end %>
    </div>
</div>