<div class="main_container">
    <div id="appointments_index">
        <div class="main_data">
            <div id="appt_idx_header">
                <% if @single_customer %>
                    <h2>Customer - <%= link_to full_name(@appointments.first.customer), customer_path(@appointments.first.customer), :title => 'Customer Profile', class: "h2_link_style" %></h2>

                    <%= render 'customers/append_customer_data' %>

                <% else %>
                    <h2>Customer Appointments</h2>
                <% end %>
            </div>

            <% if flash[:notice] %>
                <div class="flash_notice_span">
                    <%= notice %>
                </div>
            <% end %>
            
            <h3><%= pluralize(@appointments.size, "@appointments".chop.delete_prefix('@').capitalize) %></h3>

            <%= (link_to "Service Appointments", appointments_path, id: "reset_appts_idx_link") if params[:status] %>

            <div id="appts_idx_table_div">
                <table id="appts_idx_table">
                    <thead>
                        <tr>
                            <th class="th_td_center_align">AID</th>
                            <th id="appt_idx_th_date">Appt Date</th>
                            <th id="appt_idx_th_time">Time</th>
                            <th id="appt_idx_th_vehicle">Vehicle</th>
                            <th id="appt_idx_th_year">Year</th>
                            <th id="appt_idx_th_status">Status</th>
                            <th id="appt_idx_th_service">Service</th>

                            <% if !@single_customer %>
                                <th id="cust_name"> <%= display_customer_header(@appointments) %></th>
                                <th id="appt_idx_th_insurance" class="th_td_center_align"><%= display_service_insurance_header(@appointments) %></th>
                            <% end %>
                        <tr>
                    </thead>

                    <% @appointments.each.with_index(1) do |appointment, index| %>
                        <tbody>
                            <tr>
                                <td id="appt_idx_td_id" class="th_td_center_align"><%= link_to pad_index(appointment.id), customer_appointment_path(appointment.customer, appointment), :title => 'Appointment Details' %></td>
                                <td><%= readable_date(appointment) %></td>
                                <td><%= readable_time(appointment) %></td>
                                <td><%= appointment.veh_model %></td>
                                <td><%= appointment.model_year %></td>

                                <% if appointment.status == "Open" %>
                                    <td class="appt_status_open"><%= service_appointments_by_status(appointment, @single_customer) %></td>
                                <% elsif appointment.status == "Service completed" %>
                                    <td class="appt_status_complete"><%= service_appointments_by_status(appointment, @single_customer) %></td>
                                <% elsif appointment.status != "Open" || appointment.status != "Service completed" %>
                                    <td class="appt_status_others"><%= service_appointments_by_status(appointment, @single_customer) %></td>
                                <% end %>

                                <td><%= appointment.service.name %></td>

                                <% if !@single_customer %>
                                    <td><%= link_to full_name(appointment.customer), customer_appointments_path(appointment.customer), :title => 'Customer Appointments' %></td>
                                    <% if appointment.customer.has_service_insurance? == "Yes" %>
                                        <td class="th_td_center_align td_color"><%= appointment.customer.has_service_insurance? %></td>
                                    <% else %>
                                        <td class="th_td_center_align td_no_color"><%= appointment.customer.has_service_insurance? %></td>
                                    <% end %>
                                <% end %>

                                <td id="appt_idx_edit_link"><%= link_to 'Edit', edit_customer_appointment_path(appointment.customer, appointment) %></td>

                                <% if current_user.admin && @single_customer %>
                                    <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: delete_confirmation_msg } %></td>
                                <% end %>
                            </tr>
                        </tbody>
                    <% end %>
                </table>
            </div>
        </div>

        <nav class="bottom_navs">
            <span class="bottom_navs_span"><%= user_workspace %></span>
            <span class="bottom_navs_span"><%= service_customers %></span>
            <% if @single_customer %>
                <span class="bottom_navs_span"><%= new_appointment(@appointments.first.customer) %></span>
                <span class="bottom_navs_span"><%= service_appointments %></span>
            <% end %>
        </nav>
    </div>
</div>