<div class="main-container">
    <div class="main-data">
        <div style="margin-bottom: 50px">
            <h2>Customer - <%= link_to full_name(@appointment.customer), customer_path(@appointment.customer), :title => 'Customer Profile', class: "h2_link_style" %></h2>

            <%= render 'customers/append_customer_data' %>

        </div>
        
        <h3>Appointment</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Vehicle Model</th>
                    <th>Model Year</th>
                    <th>Status</th>
                    <th>Service</th>
                <tr>
            </thead>
            
            <tbody>
                <tr>
                    <td><%= readable_date(@appointment) %></td>
                    <td><%= readable_time(@appointment) %></td>
                    <td><%= @appointment.veh_model %></td>
                    <td><%= @appointment.model_year %></td>
                    <td><%= @appointment.status %></td>
                    <td><%= @appointment.service.name %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bottom-navs">
        <span class="navs_span"><%= user_workspace %></span>
        <span class="navs_span"><%= new_appointment(@appointment.customer) %></span>
        <span class="navs_span"><%= customer_appointments(@appointment.customer) %></span>
    </div>
</div>