<div>
    <div id="signin_h1_navs_div">
        <div class="dealer_name_div">
            <h1><%= dealer.name %></h1>
        </div>

        <% if logged_in? %>
            <div id="top_navs_div">
                <nav class="nav_margin_left">
                    <%= link_to full_name(current_user), user_path(current_user), class: "top_navs_link" if logged_in? && !current_user.first_name.blank? && !current_user.last_name.blank? %>
                </nav>
                <nav class="nav_margin_left">
                    <%= link_to 'My Workspace', user_workspace_path, class: "top_navs_link" if logged_in? && !current_page?(controller: 'users', action: 'workspace') %>
                </nav>
                <nav class="nav_margin_left">
                    <%= link_to 'Sign Out', '/signout', class: "top_navs_link" if logged_in? %>
                </nav>
            </div>
        <% end %>
    </div>

    <div id="signin_dealer_info_div">
        <%= render 'layouts/dealer_address'%>
    </div>
</div>
