<% if logged_in? %>
    <div id="top_navs_div">
        <span class="span_margin_left">
            <%= link_to full_name(current_user), user_path(current_user), class: "top_navs_link" if logged_in? && !current_user.first_name.blank? && !current_user.last_name.blank? %>
        </span>
        <span class="span_margin_left">
            <%= link_to 'My Workspace', user_workspace_path, class: "top_navs_link" if logged_in? && !current_page?(controller: 'users', action: 'workspace') %>
        </span>
        <span class="span_margin_left">
            <%= link_to 'Sign Out', '/signout', class: "top_navs_link" if logged_in? %>
        </span>
    </div>
<% end %>

<div id="dealer_info_div">
    <div id="web_links_div">
        <span>
            <a href="https://www.jaguarusa.com/" class = "link_style" target="_blank">JaguarUSA</a>
        </span>
        <span class="span_margin_left">
            <a href="#" class = "link_style"><%= dealer.name %></a>
        </span>
    </div>

    <div id="address_telephone_div" >
        <div id="address_sub_div">
            <span>
                <label class="dealer_info_label"><strong>Address:</strong></label><%= dealer.address %>
            </span><br>
            <span>
                <label class="dealer_info_label"><strong>City:</strong></label><%= dealer.city %>
            </span><br>
            <span id="state_span">
                <label class="dealer_info_label"><strong>State:</strong></label><%= dealer.state %>, <%= dealer.zip %></span>
            </span>
        </div>

        <span>
            <label class="dealer_info_label"><strong>Telephone:</strong></label>
            <span class="text_color"><%= dealer.telephone %></span>
        </span>
        <span class="span_margin_left">
            (<%= dealer.vanity_number %>)
        </span>
    </div>
    
    <table id="contacts_table">
        <tbody>
            <tr>
                <td class="td_caption">Customer Service</td>
                <td class="td_info text_color"><%= dealer.ext_one %></td>
            </tr>
            <tr>
                <td class="td_caption"><a href="#" class="link_style">Finance Department</a></td>
                <td class="td_info"><%= dealer.ext_two %></td>
            </tr>
            <tr>
                <td class="td_caption"><a href="#" class="link_style">Service Department</a></td>
                <td class="td_info text_color"><%= dealer.ext_three %></td>
            </tr>
        </tbody>
    </table>
</div>
