<% if logged_in? %>
    <div id="top_navs_div">
        <span class="span_margin_left">
            <%= link_to full_name(current_user), user_path(current_user), class: "top_navs_link link_style" if logged_in? && !current_user.first_name.blank? && !current_user.last_name.blank? %>
        </span>
        <span class="span_margin_left">
            <%= link_to 'My Workspace', user_workspace_path, class: "top_navs_link link_style" if logged_in? && !current_page?(controller: 'users', action: 'workspace') %>
        </span>
        <span class="span_margin_left">
            <%= link_to 'Sign Out', '/signout', class: "top_navs_link link_style" if logged_in? %>
        </span>
    </div>
<% end %>

<div id="dealer_info_div">
    <div id="web_links_div">
        <span>
            <a href="https://www.jaguarusa.com/" class = "link_style" target="_blank">JaguarUSA</a>
        </span>
        <span class="span_margin_left">
            <a href="#" class = "link_style"><%= dealer.name %></a>
        </span>
    </div>

    <div id="address_div" >
        <span>
            <label class="address_state_label"><strong>Address: </strong></label><%= dealer.address %>
        </span>
        <div id="city_state_div">
            <span>
                <label id="city_label"><strong>City: </strong></label><%= dealer.city %>
            </span>
            <span id="state_span">
                <label class="address_state_label"><strong>State: </strong></label><%= dealer.state %>, <%= dealer.zip %></span>
            </span><br>
        </div>
        <span>
            <label id="label_margin_right"><strong>Telephone: </strong></label>
            <span class="text_color"><%= dealer.telephone %></span>
        </span>
        <span>
            <label id="label_margin_left">(<%= dealer.vanity_number %>)</label>
        </span>
    </div>
    
    <table style="width: 75%">
        <tbody>
            <tr>
                <td style="padding: 0px 0px 0px 20px">Customer Service</td>
                <td style="padding: 0px; color: red"><%= dealer.ext_one %></td>
            </tr>
            <tr>
                <td style="padding: 0px 0px 0px 20px"><a href="#">Finance Department</a></td>
                <td style="padding: 0px;"><%= dealer.ext_two %></td>
            </tr>
            <tr>
                <td style="padding: 0px 0px 0px 20px"><a href="#">Service Department</a></td>
                <td style="padding: 0px; color: red;"><%= dealer.ext_three %></td>
            </tr>
        </tbody>
    </table>
</div>
