<!DOCTYPE html>
<html>
  <head>
    <title><%= dealer.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in?%>
      <%= render 'layouts/application_log_in' %>
    <% else %>
      <%= render 'layouts/application_log_out' %>
    <% end %>

    <div class="wrapper" style="max-width: 1080px; margin: 16px auto; border-style: solid; border-color: transparent; clear: both">
   
      <%= yield %>
    
    </div>
  </body>
</html>
