<!DOCTYPE html>
<html>
  <head>
    <title><%= dealer_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="font-size: 65px; margin-left: 75px; margin-top: 50px;  color: #C0C0C0"><%= dealer_name %></h1>
    <div style="float: right; margin-right: 350px">
      <% if logged_in? && current_user.first_name %>
        <%= link_to current_user.full_name, user_path(current_user) %>
      <% end %>
      <% if logged_in? && !current_page?(controller: 'users', action: 'workspace') %>
        <%= link_to 'My Workspace', user_workspace_path %>
      <% end %>
      <% if logged_in?%>
        <%= link_to 'Sign Out', '/signout' %>
      <% end %>
    </div>
    <div class="main-container" style="margin-top: 75px; margin-left: 200px">
      <%= yield %>
    </div>
  </body>
</html>
