<!DOCTYPE html>
<html>
  <head>
    <title><%= dealer.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('jaguar_favicon.png') %>
  </head>

  <body>
    <div class="img_container">
      <% if logged_in?%>
        <%= render 'layouts/application_log_in' %>
      <% else %>
        <%= render 'layouts/application_log_out' %>
      <% end %>

      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
