<!DOCTYPE html>
<html>
  <head>
    <title><%= dealer_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="font-size: 75px; margin-left: 75px; margin-top: 50px;  color: white"><%= dealer_name %></h1>

    <div class="wrapper" style="margin-top: 75px; max-width: 1080px; margin: 16px auto;  border-style: solid; border-width: thin">
      <div style="margin-bottom: 75px">
        <div style="display: inline; float: right;  margin: 15px 15px 0px 0px">
          <span style="margin-left: 5px"><%= link_to full_name(current_user), user_path(current_user) if logged_in? && current_user.first_name %></span>
          <span style="margin-left: 5px"><%= user_workspace if logged_in? && !current_page?(controller: 'users', action: 'workspace') %></span>
          <span style="margin-left: 5px"><%= link_to 'Sign Out', '/signout' if logged_in? %></span>
        </div>
      </div>
      
      <%= yield %>
      
    </div>
  </body>
</html>
